<section class="main">
  <h2 class="title">Entrar</h2>

  <form (ngSubmit)="onSubmit()" #form="ngForm">
    <div class="group">
      <label>E-mail</label>
      <input class="form" type="email" name="email" id="email" [(ngModel)]="login.email" required />
    </div>
    <div class="group">
      <label>Senha</label>
      <input class="form" type="password" name="password" id="password" [(ngModel)]="login.password" required />
    </div>
    <button type="submit" class="btn btn1" [disabled]="form.form.invalid">Entrar</button>
    <button type="button" class="btn btn2" [routerLink]="['/create-account']">Criar conta</button>
  </form>
</section>
