.main{
  position: relative;
  top: 50vh;
  left: 50%;
  transform: translate(-50%,-50%);
  width:100%;
  max-width: 1024px;
  padding: 0 2%;
}
.title{
  text-align: center;
  font-weight: bold;
  font-size: 55px;
  margin-bottom: 30px;
  color: midnightblue;
  border-bottom: 1px solid #ccc;
}
.group{
  width: 100%;
  padding: 15px;
}
.form{
  border: 2px solid #ccc;
  width: 100%;
  padding: 15px;
  margin-top: 5px;
  margin-bottom: 25px;
  border-radius: 8px;
  outline: none;
}
.btn{
  padding: 20px;
  border-radius: 20px;
  cursor: pointer;

}

.btn2{
  background-color: rgb(29, 29, 126) ;
  color: aliceblue;
}

.btn1{
  background-color: #ccc;
  color: #fff;
  margin-top: 15px;
}
